/*===========================
     01.COMMON CSS 
===========================*/
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: $font-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-1;
    font-weight: 700;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}

a,
ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
    color: #272727;
    line-height: 1.8;

    @media #{$xs} {
        font-size: 14px;
    }
}

a,
a:hover {
    text-decoration: none;
}

input,
select,
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

.sec-pad {
    padding: 120px 0;
}

.sec-pad-top {
    padding-top: 120px;
}

.sec-pad-bottom {
    padding-bottom: 120px;
}

.sec-mar {
    margin: 120px 0;
}

.sec-mar-top {
    margin-top: 120px;
}

.sec-mar-bottom {
    margin-bottom: 120px;
}

/*=======================================
 preloader start
=======================================*/
.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #000;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  @-webkit-keyframes loader {
    0%, 10%, 100% {
      width: 80px;
      height: 80px;
    }
    65% {
      width: 150px;
      height: 150px;
    }
  }
  
  @keyframes loader {
    0%, 10%, 100% {
      width: 80px;
      height: 80px;
    }
    65% {
      width: 150px;
      height: 150px;
    }
  }
  
  @-webkit-keyframes loaderBlock {
    0%, 30% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    55% {
      background-color: #fff;
    }
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  
  @keyframes loaderBlock {
    0%, 30% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    55% {
      background-color: #75DAB4;
    }
    100% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  
  @-webkit-keyframes loaderBlockInverse {
    0%, 20% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    55% {
      background-color: #fff;
    }
    100% {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
  
  @keyframes loaderBlockInverse {
    0%, 20% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    55% {
      background-color: #75DAB4;
    }
    100% {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
  
  .preloader .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
    transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
    -webkit-animation: loader 1.2s infinite ease-in-out;
    animation: loader 1.2s infinite ease-in-out;
  }
  
  .preloader .loader span {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    -webkit-animation: loaderBlock 1.2s infinite ease-in-out both;
    animation: loaderBlock 1.2s infinite ease-in-out both;
  }
  
  .preloader .loader span:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .preloader .loader span:nth-child(2) {
    top: 0;
    right: 0;
    -webkit-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
    animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  }
  
  .preloader .loader span:nth-child(3) {
    bottom: 0;
    left: 0;
    -webkit-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
    animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  }
  
  .preloader .loader span:nth-child(4) {
    bottom: 0;
    right: 0;
  }
  
  /*=======================================
   preloader end
  =======================================*/
//Sticky menu
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    box-sizing: border-box;
    background-color: #191A1C;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

/* line animation css - start */
.creasoft-wrap {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.line_wrap {
    top: 0px;
    left: 50%;
    bottom: 0px;
    width: 80%;
    z-index: -1;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    border-left: 1px solid rgba(23, 22, 26, 0.06);

    @media #{$xs} {
        border-left: 1px solid rgba(0, 0, 0, 0.03);
    }

    &.layout2 {
        border-left: 1px solid rgba(246, 246, 246, 0.02);

        .line_item {
            border-right: 1px solid rgba(246, 246, 246, 0.02);
        }
    }

    &:before {
        width: 1px;
        left: -1px;
        content: "";
        height: 100px;
        position: absolute;
        animation: scroll1 15s ease-out infinite;
        background-image: linear-gradient(0deg, #000000, transparent);
    }
}


.line_item {
    width: 20%;
     float: left;
    height: 100%;
    position: relative;
    display: inline-block;
    border-right: 1px solid rgba(23, 22, 26, 0.06);

    @media #{$xs} {
        border-right: 1px solid rgba(0, 0, 0, 0.03);
    }

    &:before {
        width: 1px;
        right: -1px;
        content: "";
        height: 100px;
        position: absolute;
    }

    &:nth-child(odd):before {
        animation: scroll2 15s ease-out infinite;
        background-image: linear-gradient(0deg, transparent, #000000);
    }

    &:nth-child(even):before {
        animation: scroll1 15s ease-out infinite;
        background-image: linear-gradient(0deg, #000000, transparent);
    }
}

@keyframes scroll1 {
    0% {
        top: 0px;
        opacity: 1;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 100%;
        opacity: 0.5;
    }
}

@keyframes scroll2 {
    0% {
        opacity: 1;
        bottom: 0px;
    }

    50% {
        bottom: 50%;
    }

    100% {
        bottom: 100%;
        opacity: 0.5;
    }
}

//Breadcrumbs
.breadcrumbs {
    position: relative;
    height: 480px;
    background-image: url(../img/breadcrumb-bg.jpg);
    background-size: cover;
    background-position: center center;
    z-index: 1;

    @media #{$xs} {
        height: 320px;
    }

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #17161A;
        opacity: 0.93;
        z-index: -1;
    }
}

.breadcrumb-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 480px;

    @media #{$xs} {
        height: 320px;
    }
}

.breadcrumb-cnt {
    position: relative;

    h1 {
        font-size: 60px;
        font-weight: 700;
        color: #75DAB4;
        text-transform: capitalize;
        margin-bottom: 5px;

        @media #{$md} {
            font-size: 40px;
        }

        @media #{$xs} {
            font-size: 30px;
        }
    }

    span {
        font-size: 14px;
        color: #fff;
        text-transform: capitalize;

        a {
            display: inline-block;
            color: #75DAB4;
        }

        i {
            margin: 0 5px;
        }
    }

    .breadcrumb-video {
        position: absolute;
        right: 0;
        top: 0;

        @media #{$xs} {
            display: none;
        }

        img {
            max-width: 370px;
            max-height: 340px;
            border-radius: 5px;
        }

        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: #17161A;
            opacity: 0.7;
            border-radius: 5px;
        }

        .video-inner {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            .video-popup {
                height: 80px;
                width: 80px;
                line-height: 80px;
                border: 2px dashed #fff;
                text-align: center;
                display: inline-block;
                color: #fff;
                border-radius: 50%;
                font-size: 20px;
                animation-name: ripple;
                animation-duration: 2.5s;
                cursor: pointer;
                animation-iteration-count: infinite;
            }
        }
    }
}


/*Section title*/
.title-wrap {
    max-width: 630px;
    margin: 0 auto;
}

.sec-title {
    text-align: center;
    margin-bottom: 50px;

    &.layout2 {
        text-align: left;
    }

    &.white {

        h2,
        p {
            color: #fff;
        }
    }

    span {
        font-weight: 600;
        font-size: 16px;
        display: inline-block;
        color: #75DAB4;
        text-transform: capitalize;
        border-bottom: 1px solid #75DAB4;
        padding-bottom: 2px;
        margin-bottom: 5px;
    }

    h2 {
        font-weight: 700;
        font-size: 40px;
        text-transform: capitalize;
        color: #17161A;
        margin-bottom: 15px;

        @media #{$lg} {
            font-size: 35px;
        }

        @media #{$xs} {
            font-size: 30px;
        }
    }
}



/*Common button*/
.cmn-btn {
    position: relative;
    display: inline-block;

    a {
        position: relative;
        display: inline-block;
        background-color: #000000;
        border-radius: 5px;
        min-width: 170px;
        font-weight: 700;
        font-size: 17px;
        text-align: center;
        color: #FFFFFF;
        padding: 15px 30px;
        border: 1px solid #000000;
        overflow: hidden;
        z-index: 1;
        @include transition(.8s);
        vertical-align: top;

        @media #{$xs} {
            min-width: 140px;
            font-size: 14px;
        }

        &:after {
            position: absolute;
            content: "";
            display: block;
            left: 15%;
            right: -20%;
            top: -4%;
            height: 150%;
            width: 150%;
            bottom: 0;
            background-color: $theme-color;
            transform: skewX(45deg) scale(0, 1);
            z-index: -1;
            @include transition(.8s);
        }

        &:hover {

            color: #000;

            &:after {
                transform: skewX(45deg) scale(1, 1);
            }
        }
    }

    .line-1 {
        position: absolute;
        right: 8px;
        top: 7px;
        z-index: 2;

        &:before {
            position: absolute;
            content: "";
            border: 1px solid #FFFFFF;
            width: 25px;
            opacity: 0.1;
            right: 0;
            @include transition(.8s);
        }

        &:after {
            position: absolute;
            content: "";
            border: 1px solid #FFFFFF;
            height: 25px;
            opacity: 0.1;
            @include transition(.8s);
        }
    }

    .line-2 {
        position: absolute;
        left: 8px;
        bottom: 8px;
        z-index: 2;

        &:before {
            position: absolute;
            content: "";
            border: 1px solid #FFFFFF;
            height: 25px;
            opacity: 0.1;
            right: 0px;
            bottom: -2px;
        }

        &:after {
            position: absolute;
            content: "";
            border: 1px solid #FFFFFF;
            width: 25px;
            opacity: 0.1;
            left: 0;
        }
    }

    &:hover {
        .line-1 {

            &:before {
                border: 1px solid #000;
                opacity: 0.5;
            }

            &:after {
                border: 1px solid #000;
                opacity: 0.5;
            }
        }
    }
}




.mobile-menu-logo {
    display: none;

    .remove {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        i {
            height: 30px;
            width: 30px;
            line-height: 30px;
            display: inline-block;
            color: #fff;
            background-color: $theme-color;
            text-align: center;
            border-radius: 50%;
            transform: rotate(-45deg);
        }
    }
}

/*================================
    Responsive mobile menu css
=================================*/
@media#{$responsive-mobile-menu} {

    header .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 260px;
        padding: 10px 0 !important;
        z-index: 99999;
        height: 100%;
        overflow: auto;
        display: block;
        background: #fff;
        -webkit-transform: translateX(-260px);
        transform: translateX(-260px);
        -webkit-transition: -webkit-transform .3s ease-in;
        transition: -webkit-transform .3s ease-in;
        transition: transform .3s ease-in;
        transition: transform .3s ease-in, -webkit-transform .3s ease-in;

        .mobile-menu-logo {
            position: relative;
            text-align: left;
            padding: 20px 10px;
            margin-bottom: 20px;
            display: block;
            border-bottom: 1px solid $theme-color;
        }

    }

    header .main-nav ul {
        float: none;
        text-align: left;
        padding: 0;
    }

   
    header .main-nav ul li {
        position: relative;
        display: block;
        border-bottom: 1px solid #eee;
        padding: 0px 10px !important;

        &:last-child {
            border: none;
        }
    }

    header .main-nav ul li a {
        padding: 10px 0;
        display: block;
        font-weight: 500;
        color: #000;
        text-transform: capitalize;
    }

    header .main-nav ul li ul.sub-menu {
        position: static;
        min-width: 200px;
        background: 0 0;
        border: none;
        opacity: 1;
        visibility: visible;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: none;
        transition: none;
        display: none;
        margin-top: 0 !important;
        transform: translateY(0px);

        li {
            padding: 0 !important;

            a {
                padding: 12px 10px;
            }
        }
    }

    header .main-nav.slidenav {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    header .main-nav ul li .bi {
        display: block;
        top: 8px;
        right: 10px;
        font-size: 16px;
        color: #000;
    }

    //Mobile menu button design
    .mobile-menu {
        position: relative;
        top: 2px;
        padding: 0 5px;
        border-radius: 50%;
        display: inline-block;
        text-align: right;
        margin-left: 30px;
    }

    .cross-btn {
        display: inline-block !important;
        position: relative;
        width: 30px !important;
        height: 22px !important;
        cursor: pointer;
        border: 3px solid transparent !important;

        span {
            width: 100%;
            height: 2px;
            background: $theme-color !important;
            display: block;
            position: absolute;
            right: 0;
            -webkit-transition: all .3s;
            transition: all .3s;
        }

        .cross-top {
            top: 0;
        }

        .cross-middle {
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 100%;
        }

        .cross-bottom {
            bottom: 0;
            width: 100%;
        }
    }

    .cross-btn.h-active span.cross-top {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 50%;
        margin-top: -1px;
    }

    .cross-btn.h-active span.cross-middle {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
        opacity: 0;
    }

    .cross-btn.h-active span.cross-bottom {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        bottom: 50%;
        margin-bottom: -1px;
    }
}


@media only screen and (min-width: 1199px) {
    .main-menu ul li:hover ul.sub-menu {
        display: block !important;
        transition: all linear .3s;
    }
}
.cursor {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 30px;
    height: 30px;
    z-index: 999999;
    pointer-events: none;
    border-radius: 50%;
    transform-origin: left top;
    transition: transform 0.35s;
    transform: scale(0.35) translate(-50%, -50%);
    mix-blend-mode: exclusion;
    background-color: #fff;
}